.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--c-bg, #c6e7ff);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 80px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-bg, #f9f9f9);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 80px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.out-value {
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  align-items: center; /* 왼쪽 정렬 */
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
}

.out-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c-bg, #d4f6ff);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.buttonClick {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #74b3e0;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.buttonClick:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.buttonClick:hover .svgIcon {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%);
}

.buttonClick::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.buttonClick:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}

select {
  text-align: center;
  width: 200px; /* 드롭다운 너비 */
  height: 40px; /* 높이 */
  border-radius: 20px; /* 둥근 모서리 */
  padding: 5px 10px; /* 내부 여백 */
  font-size: 16px; /* 텍스트 크기 */
  color: #333; /* 텍스트 색상 */
  background-color: #f0f0f0; /* 배경 색상 */
  border: 1px solid #ccc; /* 테두리 */
  cursor: pointer;
  appearance: none; /* 기본 화살표 제거 (크로스 브라우저 호환을 위해) */
}

select:focus {
  outline: none; /* 포커스 시 외곽선 제거 */
  border-color: #dddfdd; /* 포커스 시 테두리 색상 변경 */
}

option {
  padding: 10px;
}
